<div class="row">
  <!-- Blog Post Form -->
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title">Create Blog Post</h4>
        <form id="blogForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="blogImage" class="form-label">Image</label>
                <input type="file" class="form-control" id="blogImage" name="image" accept="image/*" />
                <img id="previewImage" src="" alt="Preview Image" class="img-fluid mt-2" style="max-height:200px; display:none;">
            </div>
          <div class="mb-3">
            <label for="blogTitle" class="form-label">Title</label>
            <div class="input-group">
                <span class="input-group-text bg-light"><i class="ti ti-file-text"></i></span>
                <input type="text" class="form-control text-black" id="blogTitle" name="title" placeholder="Enter blog title" required />
            </div>
          </div>
          <div class="mb-3">
            <label for="blogMessage" class="form-label">Message</label>
            <textarea class="form-control text-black" id="blogMessage" name="message" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Blog Post List -->
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title">Blog Posts</h4>
        <div id="blogList" class="comment-widgets scrollable common-widget" data-simplebar="" style="height: 465px; overflow-y: auto;">
          <!-- Fetched blog posts will be injected here from the jquery -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Blog Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm" enctype="multipart/form-data">
            <input type="hidden" id="editId">
            <div class="mb-3">
                <label for="currentImage" class="form-label">Current Image</label><br/>
                <img id="currentImage" src="" alt="Current Blog Image" class="img-fluid mb-2" style="max-height:200px;">
            </div>
            <div class="mb-3">
                <label for="editImage" class="form-label">Change Image</label>
                <input type="file" class="form-control" id="editImage" name="image" accept="image/*" />
                <img id="previewEditImage" src="" alt="Preview Image" class="img-fluid mt-2" style="max-height:200px; display:none;">
            </div>
            <div class="mb-3">
                <label for="editTitle" class="form-label">Title</label>
                <div class="input-group">
                  <span class="input-group-text bg-light"><i class="ti ti-file-text"></i></span>
                  <input type="text" class="form-control text-black" id="editTitle" name="title" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="editMessage" class="form-label">Message</label>
                <textarea class="form-control text-black" id="editMessage" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>