<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hilton Consultant Admin</title>
  <link rel="shortcut icon" type="image/png" href="/dashboard-assets/images/logo.JPEG" />
  <link rel="stylesheet" href="/dashboard-assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex flex-column justify-content-center align-items-center">
      
      <!-- Login Form -->
      <div class="d-flex align-items-center justify-content-center w-100 flex-grow-1">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card shadow mb-0">
              <div class="card-body">
                <h4 class="text-center mb-5">ADMIN LOGIN</h4>
                <form id="loginForm" method="POST">
                  <!-- Username Input -->
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group">
                      <span class="input-group-text bg-light"><i class="ti ti-user text-black"></i></span>
                      <input type="text" class="form-control text-black" id="username" name="username" placeholder="Enter your username" required>
                    </div>
                  </div>

                  <!-- Password Input -->
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                      <span class="input-group-text bg-light"><i class="ti ti-lock text-black"></i></span>
                      <input type="password" class="form-control text-black" id="password" placeholder="Enter your password" required>
                      <span class="input-group-text bg-light toggle-password" data-target="#password">
                        <i class="ti ti-eye text-black"></i>
                      </span>
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-5 rounded-2">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="text-center py-3">
        <p class="mb-1">
          © <span>Copyright</span>
          <strong class="px-1">Hilton Consultant Multi-specialist Hospital.</strong>
          All Rights Reserved
        </p>
        <p class="mb-0">
          Powered by
          <a href="https://salubretech.com" target="_blank" class="text-primary fw-semibold">
            Salubre-Tech
          </a>
        </p>
      </footer>
    </div>
  </div>

  <script src="/dashboard-assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/dashboard-assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/dashboard-assets/libs/sweetalert2/sweetalert2.all.min.js"></script>
  <script src="/dashboard-assets/js/app.min.js"></script>
  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>
