<section class="service-details section">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <!-- Service Content -->
      <div id="serviceContentWrapper" class="col-lg-8 rounded p-4">
        <!-- Service content will be dynamically injected here -->
      </div>

      <div class="col-lg-4">
        <aside class="sidebar p-4 rounded">

          <!-- Other services -->
          <div class="mb-4">
            <h5 class="fw-bold mb-3 border-bottom pb-2 gradient-header">Other Services</h5>
            <div class="other-services">
              <!-- The other services will be here -->
            </div>
          </div>
        </aside>
      </div>

    </div>
  </div>
</section><!-- End Service Details -->