<footer class="text-center py-3" style="margin-top: auto;">
    <p class="mb-1">
        © <span>Copyright</span>
        <strong class="px-1">Hilton Consultant Multi-specialist Hospital.</strong>
        All Rights Reserved
    </p>
    <p class="mb-0">
        Powered by
        <a href="https://salubretech.com" target="_blank" class="text-primary fw-semibold">
        Salubre-Tech
        </a>
    </p>
</footer>